* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
}
.header {
  background: linear-gradient(#6478e6, #9354e4);
  height: 10vh;
  margin: 0;
  padding: 40px;
}
.main {
  padding: 20px;
}

select {
  border: none;
  background-color: #fff;
  border: 1px solid #333;
  padding: 5px 10px 5px 5px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 4px;
  margin-right: 20px;
}
form {
  padding-bottom: 10px;
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 20px;
}
.input-area {
  width: 197px;
}
input[type="text"] {
  background-color: #fff;
  border: 1px solid #333;
  margin-right: 20px;
  outline-color: #73bbe6;
  padding: 5px 10px;
  border-radius: 4px;
}
input[type="text"]:disabled {
  background-color: #a7a7a7;
}
input[type="submit"] {
  border-radius: 4px;
  border: none;
  background-color: #2f3cf1;
  padding: 5px 10px;
  color: #fff;
}
input[type="submit"]:active {
  background-color: #050e8d;
}
li {
  list-style: none;
  margin-bottom: 10px;
}
input[type="checkbox"] {
  margin-right: 5px;
  width: 30px;
  transform: scale(1.4);
  vertical-align: middle;
}
.removeBtn {
  background-color: #c71313;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 10px;
}
.importantBtn {
  background-color: #faf75e;
  border: 1px solid #faf75e;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 10px;
}
.inactive {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 10px;
}
